.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.languageswitcher {
    top: 20px;
    position: relative;
    left: 10px;
}

.lang {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.lang:hover {
    background-color: rgb(0, 0, 255);
}

.headerbutton {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
}

.headerbutton:hover {
  background-color: rgb(0, 0, 255);
}

.hero {
  width: 100%;
  height: 400px;
  background-image: url('/7ae3fd33-128c-464b-8bf4-6812f255be10.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 50px;

}

.hero>h1 {
  font-size: 100px;
  color: rgb(217, 255, 0);
}

.hero>h2 {
  font-size: 60px;
  color: rgb(217, 255, 0);
}

.langimg {
  width: 20px;
}

.regbutton {
  margin: 10px;
}

.main {
  margin: 10px 40px;
}

.main>h1 {
  text-align: center;
}

.introcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.social-icon {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  overflow: hidden;
}

.login-img {
  width: 100%;
  height: 100vh;
  position: sticky;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.login-form-container {
  position: relative;
  top: 20%;
  margin-left: 50px;
}

.reg-form-container {
  position: relative;
  top: 5%;
  margin-left: 50px;
}

.login-input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  width: 20vw;
}

label {
  width: 10vw;
}

.login-btn1 {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #351bcc;
  background-color: #351bcc;
  color: #ffffff;
}

.cards-list {
  list-style-type: none;
}

.front-side {
  background-color: aqua;
}

.reviewTime {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  bottom: 0;
}

.flash-btn {
  border: none;
  background-color: transparent;
}

.flash-btn:hover {
  background-color: rgb(72, 72, 189);
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .login-container {
    display: block;
  }

  .login-img {
    display: none;
  }

  .login-form-container {
    margin: 0;
  }

  .reg-form-container {
    margin: 0;
  }

  .login-input {
    width: 80vw;
  }

  label {
    width: 10vw;
    margin-left: 20px;
  }

  .reg-form-container h1 {
    margin-left: 10px;
    margin-top: 10px;
  }

  .login-btn1 {
    width: 80vw;
  }
}