.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.languageswitcher {
    top: 20px;
    position: relative;
    left: 10px;
}

.lang {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.lang:hover {
    background-color: rgb(0, 0, 255);
}

.headerbutton {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
}

.headerbutton:hover {
  background-color: rgb(0, 0, 255);
}

.hero {
  width: 100%;
  height: 400px;
  background-image: url('/7ae3fd33-128c-464b-8bf4-6812f255be10.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 50px;

}

.hero>h1 {
  font-size: 100px;
  color: rgb(217, 255, 0);
}

.hero>h2 {
  font-size: 60px;
  color: rgb(217, 255, 0);
}

.langimg {
  width: 20px;
}

.regbutton {
  margin: 10px;
}

.main {
  margin: 10px 40px;
}

.main>h1 {
  text-align: center;
}

.introcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.social-icon {
  height: 30px;
  width: 30px;
  margin: 5px;
}